<a name="home">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>What is Faciliate Me?</h1> 
                        <hr class="intro-divider">
                        <h3>Facilitate Me is a tool developed by Camp Manito-wish to assist in the development of group facilitation sequences.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
