<a name="home">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Faciliate Me</h1>
                        <h3>The Sequencing Assistant</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <%= link_to "Take a Look", activities_path, :class => "btn btn-default btn-lg"  %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>