@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background: white;
    margin-bottom: 0%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/*flash*/
.alert-error {
    margin-top: 5px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    margin-top: 5px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    margin-top: 5px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    margin-top: 5px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: image-url("background.jpg") no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: white;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: white;
}

.info-form {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.15);
    text-align: center;
    background: image-url("background.jpg") no-repeat center center;
    background-size: cover;
}

.user-form {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;    
}

body {
    padding-top: 50px;
}

#form-well {
   background-color: rgba(245, 245, 245, 0.4);
}