// Place all the styles related to the sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-box{
    -webkit-box-shadow: -12px 7px 12px 0px rgba(0,0,0,0.75);
    margin: 10px;
    background-color: #f5f3f0;
    padding-top: 2px;
    padding-left: 5px;
}

hr
{
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    color: #D3D3D3;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f5f3f0;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
  list-style-type: none
}

#search-activities{
  overflow-y: scroll;
  height: 200px;
}

#selected-activities{
  overflow-y: scroll;
}