<tr>
    <td><%= activity.title %></td>
    <td><%= activity.classification %></td>
    <td><%= activity.outcomes %></td>
    <td>
        <%= link_to activity do %>
            <i class="glyphicon glyphicon-book"></i>
        <% end %>
        <%= link_to edit_activity_path(activity) do %>
            <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="glyphicon glyphicon-remove"></i>
        <% end %>
    </td>
</tr>