<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :classification , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.select :classification, ['Ice Breaker', 'Trust/Awareness/Communcation','Problem Solving Initiative'], class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :title , class:"col-sm-2 col-sm-offset-3 form-control-label"%>
    <div class="col-sm-3">
      <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :supplies , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :supplies, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :outcomes , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_area :outcomes, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :setup , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_area :setup, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :procedure , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_area :procedure, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :modifications , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_area :modifications, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :processing , class:"col-sm-2 col-sm-offset-3 form-control-label" %>
    <div class="col-sm-3">
      <%= f.text_area :processing, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :notes, class:"col-sm-2 col-sm-offset-3 form-control-label"  %>
    <div class="col-sm-3">
      <%= f.text_area :notes, class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-offset-3 col-sm-10">
      <div>
        <%= f.submit class: 'btn btn-success'%>
      </div>
    </div>
  </div>
<% end %>