<% if getPhysicalDifficulty <= 0.2 %>
    <strong>Physical:</strong> <%= progress_bar getPhysicalDifficulty, alternative: 'success' %>
<% elsif getPhysicalDifficulty <= 0.4 %>
    <strong>Physical:</strong> <%= progress_bar getPhysicalDifficulty, alternative: 'info' %>
<% elsif getPhysicalDifficulty <= 0.6 %>
    <strong>Physical:</strong> <%= progress_bar getPhysicalDifficulty %>
<% elsif getPhysicalDifficulty <= 0.8 %>
    <strong>Physical:</strong> <%= progress_bar getPhysicalDifficulty, alternative: 'warning' %>
<% else %>
    <strong>Physical:</strong> <%= progress_bar getPhysicalDifficulty, alternative: 'danger' %>
<% end %>

<br>

<% if getInterpersonalDifficulty <= 0.2 %>
    <strong>Interpersonal:</strong> <%= progress_bar getInterpersonalDifficulty, alternative: 'success' %>
<% elsif getInterpersonalDifficulty <= 0.4 %>
    <strong>Interpersonal:</strong> <%= progress_bar getInterpersonalDifficulty, alternative: 'info' %>
<% elsif getInterpersonalDifficulty <= 0.6 %>
    <strong>Interpersonal:</strong> <%= progress_bar getInterpersonalDifficulty %>
<% elsif getInterpersonalDifficulty <= 0.8 %>
    <strong>Interpersonal:</strong> <%= progress_bar getInterpersonalDifficulty, alternative: 'warning' %>
<% elsif getInterpersonalDifficulty > 0.8 %>
    <strong>Interpersonal:</strong> <%= progress_bar getInterpersonalDifficulty, alternative: 'danger' %>
<% end %>

<br>

<% if getEmotionalDifficulty <= 0.2 %>
    <strong>Emotional:</strong> <%= progress_bar getEmotionalDifficulty, alternative: 'success' %>
<% elsif getEmotionalDifficulty <= 0.4 %>
    <strong>Emotional:</strong> <%= progress_bar getEmotionalDifficulty, alternative: 'info' %>
<% elsif getEmotionalDifficulty <= 0.6 %>
    <strong>Emotional:</strong> <%= progress_bar getEmotionalDifficulty %>
<% elsif getEmotionalDifficulty <= 0.8 %>
    <strong>Emotional:</strong> <%= progress_bar getEmotionalDifficulty, alternative: 'warning' %>
<% else %>
    <strong>Emotional:</strong> <%= progress_bar getEmotionalDifficulty, alternative: 'danger' %>
<% end %>