We value your input! Please contribute your experience using the poll below.  
<br>
<div class="form-group row">
    <div class="col-sm-2">
        <strong>Physical Difficulty:</strong>
    </div>
    <div class="col-sm-3">
        <%= select_tag "physical-difficulty-rating", options_for_select([['Not Difficult', 1], ['Easy Difficulty', 2], ['Fairly Difficult', 3], 
                        ['Very Difficult', 4], ['Extremely Difficult', 5]]) %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <strong>Interpersonal Difficulty:</strong>
    </div>
    <div class="col-sm-3">
        <%= select_tag "interpersonal-difficulty-rating", options_for_select([['Not Difficult', 1], ['Easy Difficulty', 2], ['Fairly Difficult', 3], 
                        ['Very Difficult', 4], ['Extremely Difficult', 5]]) %>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <strong>Emotional Difficulty:</strong>
    </div>
    <div class="col-sm-3">
        <%= select_tag "emotional-difficulty-rating", options_for_select([['Not Difficult', 1], ['Easy Difficulty', 2], ['Fairly Difficult', 3], 
                        ['Very Difficult', 4], ['Extremely Difficult', 5]]) %>
    </div>
</div>

<%= hidden_field_tag('activity-id', @activity.id) %>
<button type="button" class="btn btn-info" id="vote-submit"}>Submit</button>