<div class="row">
  <div class="col-md-9 col-xs-offset-1">
    <h2>Activities</h2>
    <%= form_tag(result_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Activities" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Classification</th>
        <th>Outcomes</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.title %></td>
          <td><%= activity.classification %></td>
          <td><%= activity.outcomes %></td>
          <td>
            <%= link_to activity do %>
              <i class="glyphicon glyphicon-book"></i>
            <% end %>
            <% if user_signed_in? && (activity.user_id == current_user.id || current_user.admin) %>
              <%= link_to edit_activity_path(activity) do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to activity, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>
