<div class="row">
  <div class="col-md-9 col-xs-offset-1">
    <h2>Activities</h2>
    <%= form_tag(result_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Activities" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  <% if !@activities %>
    Your search returned no results.
  <% else %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Classification</th>
        <th>Outcomes</th>
        <th>Actions</th>
      </tr>
      </thead>
      
      <tbody>
          <%= render @activities %>
      </tbody>
    </table>
  <% end %>  


  <br>
  <%= link_to 'New Activity', new_activity_path %>
  </div>
</div>