<div class="col-md-8 col-sm-offset-2">
  <br>
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Basic Info</strong></div>
      <div class="panel-body">
        <strong>Title:</strong> <%= @activity.title %>
        <br>
        <strong>Classification:</strong> <%= @activity.classification %>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Difficulty Ratings</strong></div>
      <div class="panel-body">
        <div id="vote-results">
          <%= render partial: 'ratings' %>
        </div>
        <% if user_signed_in? %>
          <div id="vote-form">
            <%= render partial: 'vote' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Setup</strong></div>
      <div class="panel-body">
        <strong>Supplies:</strong> <%= @activity.supplies %>
        <br>
        <strong>Setup:</strong> <%= @activity.setup %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Procedure</strong></div>
      <div class="panel-body">
        <strong>Procedure:</strong> <%= @activity.procedure %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Outcomes</strong></div>
      <div class="panel-body">
        <strong>Outcomes:</strong> <%= @activity.outcomes %>
        <br>
        <strong>Processing:</strong> <%= @activity.processing %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>Notes</strong></div>
      <div class="panel-body">
        <strong>Modifications:</strong> <%= @activity.modifications %>
        <br>
        <strong>Misc. Notes:</strong> <%= @activity.notes %>
      </div>
    </div>
  </div> 
  <%= commontator_thread(@activity) %>
  <%= link_to 'Edit', edit_activity_path(@activity) %> |
  <%= link_to 'Back', activities_path %>
</div>


