<div class="row" align = center>
    <div class="col-md-6 col-md-offset-3">  
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
</div>