<!DOCTYPE html>
<html>
<head>
  <title>Facilitate Me</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shim' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/flashes' %>
</head>
<body>
<%= yield %>

</body>
</html>
