<% if @events.any? %>
    <% @events.each do |event| %>
        <div class='event-box' data-id="<%= event.id %>">
            <%=event.activity.title%>
            <hr>
            <%=event.activity.classification %>
        </div>
    <% end %>
<% else %>
    No activities have been selected.
<% end %>