<div class='event-box' data-id="<%= event.id %>">
    <%=event.activity.title%>
    <div align='right'>
        <div class="remove-activity", event_id=<%=event.id%>, sequence_id=<%=@sequence.id%>>
            <a href='#', class="glyphicon glyphicon-remove"></a>
        </div>
    </div>
    <hr>
    <%=event.activity.classification %>
</div>