<%= form_for(sequence) do |f| %>
  <% if sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sequence.errors.count, "error") %> prohibited this sequence from being saved:</h2>

      <ul>
      <% sequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :title , class:"col-sm-2 col-sm-offset-3 form-control-label"%>
    <div class="col-sm-3">
      <%= f.text_field :title, class:"form-control" %>
    </div>
  </div>
 
  <div class="form-group row">
    <%= f.label :description , class:"col-sm-2 col-sm-offset-3 form-control-label"%>
    <div class="col-sm-3">
      <%= f.text_field :description, class:"form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-offset-3 col-sm-10">
      <div>
        <%= f.submit class: 'btn btn-success'%>
      </div>
    </div>
  </div>
<% end %>