<% if @activities.any? %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Classification</th>
                <th>Outcomes</th>
                <th>Actions</th>
            </tr>
        </thead>
      
        <tbody>
            <% @activities.each do |activity| %>
                <tr>
                    <td><%= activity.title %></td>
                    <td><%= activity.classification %></td>
                    <td><%= activity.outcomes %></td>
                        <td>            
                        <div class="activity-selection", activity_id=<%=activity.id%>, sequence_id=<%=@sequence.id%>>
                            <a href='#', class="glyphicon glyphicon-plus"></a>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    Your search returned no results
<% end %>