<div class="col-sm-9 col-sm-offset-5">
    <h2>Edit Sequence</h2>
    <%= link_to 'Select Activities', select_path(:id => @sequence.id), class:'btn btn-primary' %>
</div>
<%= render 'form', sequence: @sequence %>