<div class="row">
  <div class="col-md-9 col-xs-offset-1">
    <h2>Sequences</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @sequences.each do |sequence| %>
        <tr>
          <td><%= sequence.title %></td>
          <td><%= sequence.description %></td>
          <td>
            <%= link_to sequence do %>
              <i class="glyphicon glyphicon-book"></i>
            <% end %>
            <% if user_signed_in? && (sequence.user_id == current_user.id || current_user.admin) %>
              <%= link_to edit_sequence_path(sequence) do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to sequence, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New sequence', new_sequence_path %>
  </div>
</div>