<div class="row" id="search-activities">
    <div class="col-md-9 col-xs-offset-1">
        <%= hidden_field_tag('sequence-id', @sequence.id) %>
        <h2>Select Activities</h2>
        <button type="button" class="btn btn-success" id="search-submit"}>Search</button>  
        <input type="text" id="search-terms">
        
        <div id="search-results">
            <%= render :partial => 'results' %>
        </div>
        
        <br>
    </div>
</div>

<hr>

<div class="row" id="selected-activities">
    <div class="col-md-6 col-sm-offset-3" align="center">
        <h2>Sequence Events</h2>
    </div>
    <div class="col-md-6 col-sm-offset-3 sortable", id="sequence-activities">
        <%= render @events %>
    </div>
</div>