<div class="row">
    <div class="col-md-6 col-sm-offset-3" align="center">
        <h2><%=@sequence.title%></h2>
        <h5><%=@sequence.description%></h5>
    </div>
    <div class="col-md-6 col-sm-offset-3 sortable", id="sequence-activities">
        <%= render :partial => "event_list" %>
    </div>
</div>